version: "1"
services:
  api:
    image: "shaishulman/mapit-api"
    build:
      context: ./api
    ports:
      - "3000:3000"
    networks:
      - mynetwork
  nginx:
    image: "shaishulman/mapit-nginx"
    build:
      context: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    networks:
      - mynetwork
  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
networks:
  mynetwork:
    driver: bridge
